.block-ui {
    opacity: 0.1;
    pointer-events: none;
}

.loader,
.loader:before,
.loader:after {
    background: #f93d3d;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader,
.loader:before,
.loader:after {
    background: #080606;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #080606;
    text-indent: -9999em;
    margin: 88px auto;
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/*avatar css*/
 .profile-pic {
     max-width: 200px;
     max-height: 200px;
     display: block;
 }

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 4px solid #0c0e10;
    /*position: absolute;
    top: 72px;*/
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    text-align: center;
    margin-top: 10px;
    color: #00a2e3;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
@media only screen and (max-width: 500px) {
    .p-image {
        top: 180px;
        right: 135px;
    }
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
/*./avatar css*/